<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>Exchange Request Confirmation</title>
</head>
<div layout:fragment="myPageContent">

    <h2>Exchange Request Confirmation</h2>
    <h3 class="mt-5">Order Detail</h3>
    <hr style="margin-top: 0; background : #b68c68; height: 5px">

    <table class="table">
        <tr>
            <th class="col-2">User Name</th>
            <td class="col-10" th:text="${order.userName}"></td>
        </tr>
        <tr>
            <th>Order Date</th>
            <td th:text="${#calendars.format(order.regDate, 'yyyy-MM-dd')}"></td>
        </tr>
        <tr>
            <th>Order ID</th>
            <td th:text="${order.orderId}"></td>
        </tr>
        <tr>
            <th>Order Product</th>
            <td th:text="${order.orderDetailList[0].optionName + ' 등 ' + order.orderDetailList.size() + ' 건'}"></td>
        </tr>
        <tr>
            <th>Subtotal</th>
            <td th:text="${order.totalPrice}"></td>
        </tr>
    </table>

    <h3 class="mt-5">Exchange Detail</h3>
    <hr style="margin-top: 0; background : #b68c68; height: 5px">
    <table class="table">
        <tr>
            <th class="col-2">Receiver</th>
            <td class="col-10" th:text="${exchange.receiverName}"></td>
        </tr>
        <tr>
            <th>Receiver Phone Number</th>
            <td th:text="${exchange.receiverPhone}"></td>
        </tr>
        <tr>
            <th class="align-middle">Product to Exchange</th>
            <td>
                <th:block th:if="${!exchange.orderDetailDto.imageList.isEmpty() && exchange.orderDetailDto.imageList != null}">
                    <img th:src="@{'/img/product/{file}' (file=${exchange.orderDetailDto.imageList[0].imgPath})}" style="width: 100px; height: 100px; object-fit: cover; vertical-align: middle;">
                </th:block>
                <span th:text="${exchange.orderDetailDto.optionName}"></span>
            </td>
        </tr>
        <tr>
            <th>Exchange Request Quantity</th>
            <td th:text="${exchange.cnt}"></td>
        </tr>
        <tr>
            <th>State</th>
            <td th:text="${exchange.rfrDetDto.detName}"></td>
        </tr>
        <tr>
            <th>Reason</th>
            <td th:text="${exchange.reason}"></td>
        </tr>
        <tr th:if="${exchange.imageList != null && !exchange.imageList.isEmpty()}">
            <th>Uploaded Images</th>
            <td>
                <th:block th:each="img:${exchange.imageList}">
                    <img th:src="@{'/img/exchange/{imgPath}' (imgPath=${img.imgPath}) }" alt="exchangeRequestImg" style="width: 400px; height: 400px; object-fit: cover;">
                </th:block>
            </td>
        </tr>
    </table>

    <h3 class="mt-5">Exchange state Detail</h3>
    <hr style="margin-top: 0; background : #b68c68; height: 5px">
    <table class="table">
        <tr>
            <th class="col-2">State</th>
            <td class="10" th:text="${exchange.exDetDto.detName}"></td>
        </tr>
        <tr>
            <th>Reply</th>
            <td>
                <th:block th:if="${exchange.reply != null}" >
                    <div th:text="${exchange.reply}"></div>
                </th:block>
                <th:block th:unless="${exchange.reply != null}">
                    <div> There is no reply yet. </div>
                </th:block>
            </td>
        </tr>
    </table>

    <div class="d-flex justify-content-end">
        <th:block th:if="${exchange.exDet.equals('ex0')}">
            <form th:action="@{'/exchange/user_yes/mypage/{exchangeId}/modify.do' (exchangeId = ${exchange.exchangeId})}" method="post">
                <button class="btn" type="submit" style="background-color: #FFFAF5; color: #B68C68; border-color:#eeeeee;">교환 요청 취소</button>
            </form>
        </th:block>
        <a class="btn text-white ms-3 backBtn" href="javascript:void(0)" onclick="goBack()" style="background-color: #B68C68;">Return to the list</a>
    </div>
    <script th:inline="javascript">
        function goBack(){
            window.history.back();
        }
    </script>
</div>
</html>