<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<head>
  <meta charset="UTF-8">
  <title>Delivery List - Admin</title>
</head>
<div layout:fragment="content">
  <h2>Delivery List</h2>
  <form action="/delivery/admin/list.do" method="get" id="searchForm" name="searchForm">
    <div>
      <label class="d-block">Search Keyowrd:
        <select name="searchDiv" id="searchDiv">
          <option value="" selected disabled>Search Selection</option>
          <option value="all">All</option>
          <option value="order_id">Order Number</option>
          <option value="user_name">Order Name</option>
          <option value="user_email">Order Email</option>
        </select>
        <input type="text" id="searchWord" name="searchWord">
      </label>
      <label class="d-block">Date :
        <select name="dateType" id="dateType">
          <option selected disabled>Date Selection</option>
          <option value="start_date">Start Date</option>
          <option value="end_date">End Date</option>
        </select>
        <input type="date" id="startDate" name="startDate"> ~
        <input type="date" id="endDate" name="endDate">
      </label>
      <div class="d-flex">
        <span>Progress :</span>
        <label><input type="checkbox" name="dDet" id="d0" value="d0" > Checking </label>
        <label><input type="checkbox" name="dDet" id="d1" value="d1" > Preparing </label>
        <label><input type="checkbox" name="dDet" id="d2" value="d2" > Shipping </label>
        <label><input type="checkbox" name="dDet" id="d3" value="d3" > Completed</label>
      </div>
    </div>
    <button type="submit" class="btn btn-outline-secondary">Search</button>
    <button name="reset" type="reset">Reset</button>
  </form>
  <h3 class="my-4">Delivery List</h3>
  <hr style="margin-bottom: 0; background : #b68c68; height: 5px">

  <table class="table">
    <thead>
    <tr>
      <!--            <th>No.</th>-->
      <th>Order ID</th>
      <th>User ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Invoice</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>State</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${deliveryCount >= 0}" th:each="delivery : ${deliveryList}" >
      <tr>
        <td th:text="${delivery.orderId}"></td>
        <td th:text="${delivery.userId}"></td>
        <td th:text="${delivery.userName}"></td>
        <td th:text="${delivery.userEmail}"></td>
        <td th:text="${delivery.userPhone}"></td>
        <td th:text="${delivery.invoice}"></td>
        <td th:text="${#calendars.format(delivery.startDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${#calendars.format(delivery.endDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${delivery.DDetDto.detName}"></td>
        <td><button type="button" th:onclick="|location.href='@{/delivery/admin/{orderId}/modify.do (orderId=${delivery.orderId})}'|">수정하기</button></td>
      </tr>
    </th:block>
    </tbody>
  </table>
  <th:block th:unless="${deliveryCount >= 0}"><div>There is no delivery record.</div></th:block>
  <!--pagination-->
  <nav aria-label="Page navigation" class="d-flex justify-content-center">
    <ul class="pagination">
      <li class="page-item mx-3">
        <a class="page-link" th:href="@{${paging.queryString}(page=${paging.prevPage})}" th:classappend="${(paging.page==1)?'disabled':''}">Previous</a>
      </li>
      <li class="page-item mx-3">
        <a class="page-link" th:href="@{${paging.queryString}(page=${paging.nextPage})}" th:classappend="${(!(paging.next))?'disabled':''}">Next</a>
      </li>
    </ul>
  </nav>
  <!--pagination end--------------->
  <script th:inline="javascript">
    const forms = document.forms.searchForm;
    console.log(forms);
    forms.searchDiv.onchange = (qualifiedName, value)=>{
      console.log(forms.searchDiv.value);
      forms.searchWord.setAttribute("required", value);
    }
    forms.dateType.onchange = (qualifiedName, value)=>{
      forms.startDate.setAttribute("required", value);
      forms.endDate.setAttribute("required", value);
    }
    forms.reset.onclick=()=>{
      forms.searchWord.removeAttribute("required");
      forms.startDate.removeAttribute("required");
      forms.endDate.removeAttribute("required");
    }

  </script>
</div>
</html>
