<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Update Delivery Info</title>
</head>
<div layout:fragment="content">
    <h2>Update Delivery Info-Admin</h2>
    <form action="/delivery/admin/modify.do" method="post"  enctype="multipart/form-data">
        <div>
            <div th:text="'Order ID : '+${delivery.orderId}" th:readonly="true"></div>
        </div>
        <div>
            <label for="userId">User ID</label>
            <input type="text" name="userId" id="userId" th:value="${delivery.userId}" th:readonly="true">
        </div>
        <div>
            <label for="userName">Name</label>
            <input type="text" name="userName" id="userName" th:value="${delivery.userName}" required th:readonly="true">
        </div>
        <div>
            <label for="userEmail">Email</label>
            <input type="text" name="userEmail" id="userEmail" th:value="${delivery.userEmail}" required th:readonly="true">
        </div>
        <div>
            <label for="userPhone">Phone Number</label>
            <input type="text" name="userPhone" id="userPhone" th:value="${delivery.userPhone}" required th:readonly="true">
        </div>
        <div>
            <label for="invoice">Invoice</label>
            <input type="text" name="invoice" id="invoice" th:value="${delivery.invoice}" >
        </div>
        <div>
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startDate" th:value="${#calendars.format(delivery.startDate, 'yyyy-MM-dd')}" >
        </div>
        <div>
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endDate" th:value="${#calendars.format(delivery.endDate, 'yyyy-MM-dd')}" >
        </div>
        <div>
            <select name="dDet">
                <option value="d0"> Checking Order </option>
                <option value="d1"> Preparing </option>
                <option value="d2"> Shipping </option>
                <option value="d3"> Completed </option>
            </select>
        </div>

        <input type="hidden" name="orderId" id="orderId" th:value="${delivery.orderId}">
        <div>
            <button type="submit">Save</button>
            <button type="button" th:onclick="deleteCheck()" th:text="Delete"></button>

        </div>
    </form>

    <script>
        function deleteCheck() {
            let result = confirm("Do you really want to delete?");
            if (result==true) {
                location.href = "delete.do?order_id="+document.getElementById("orderId").value;
            } else {

            }
        }
    </script>
</div>
</html>