<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout}">
<head>
    <meta charset="UTF-8">
    <title>Order Detail-Admin</title>
</head>
<div layout:fragment="content">
    <h1 class="mb-4"> Order Detail</h1>
    <!--주문 일자, 번호, 상태-->

    <div class="d-flex justify-content-start align-items-center" style="background-color: #FFFAF5; height: 50px; font-weight: bold">
        <div class="mx-3">
            Order Date: <span th:text="${#calendars.format(order.regDate,'yyyy-MM-dd')}" id="regDate"></span>
        </div>
        <div class="mx-3">
            Order ID: <span id="orderId"  th:text="${order.orderId}"></span>
        </div>
        <div class="mx-3">
            Order State: <span id="oDet" th:text="${oCodeList[order.ODet.substring(1)].detName}"></span>
        </div>
    </div>
    <!--주문 일자, 번호, 상태 end----------------->
    <!--상세 주문 물품 리스트-->
    <h3 class="mt-4">Order Product Detail</h3>
    <div>
        <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
        <table class="table mt-0">
            <thead>
            <th scope="col" class="text-center">NO</th>
            <th scope="col">Product</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Price</th>
            </thead>
            <tbody>
            <tr class="align-middle" th:each="orderDetail, stat :${orderDetailList}">
                <td class="text-center" th:text="|${stat.count}|"></td>
                <td>
                    <img th:src="@{'/img/product/{file}'(file=${orderDetail.imageList[0].imgPath})}"
                         class="rounded" style="width: 50px; height:50px; object-fit: cover">
                    <span th:text="${orderDetail.optionName}" id="optionName"></span>
                </td>
                <td class="text-center" th:text="${orderDetail.cnt}"></td>
                <td class="text-center" th:text="${orderDetail.totalPrice}+'Won'"></td>
            </tr>
            </tbody>
        </table>
        <div class="d-flex flex-column align-items-end pt-3 px-5"  style="background-color: #FFFAF5">
            <div class="mb-3">
                <b>Subtotal:</b> <span id="totalPrice" th:text="${order.totalPrice}"></span>Won
            </div>
            <div class="mb-3">
                <th:block th:if="${payment.amount != null}">
                    <b>Total Paid:</b> <span id="pPaidPrice" th:text="${payment.amount}"></span>Won
                </th:block>
                <th:block th:unless="${payment.amount != null}">
                    <b>Total Paid:</b> <span id="paidPrice" th:text="${order.totalPrice}"></span>Won
                </th:block>
            </div>
        </div>
    </div>
    <!--상세 주문 물품 리스트 end------------>

    <!--수령인 정보 ----------------------------------------------------->
    <h3 class="mt-4">Delivery Info</h3>
    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
    <table class="table">
        <tr>
            <th class="col-2">Receiver</th>
            <td class="col-10" th:text="${order.receiverName}"></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td th:text="${order.receiverPhone}"></td>
        </tr>
        <tr>
            <th>Postcode</th>
            <td th:text="${order.postCode}"></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${order.address}"></td>
        </tr>
        <tr>
            <th>Address Detail</th>
            <td th:text="${order.addressDetail}"></td>
        </tr>
        <tr>
            <th>Subtotal</th>
            <td th:text="${order.totalPrice}"></td>
        </tr>
        <tr>
            <th>Elevator</th>
            <th:block th:if="${order.elevator == true}">
                <td th:text="' 있음'"></td>
            </th:block>
            <th:block th:if="${order.elevator == false}">
                <td th:text="'없음'"></td>
            </th:block>
        </tr>
        <tr>
            <th>Delivery Request</th>
            <th:block th:if="${delivery.request != null}">
                <td th:text="${delivery.request}"></td>
            </th:block>
            <th:block th:unless="${delivery.request != null}">
                <td th:text="'None'"></td>
            </th:block>
        </tr>
    </table>
    <!--수령인 정보 end------------------------------------->
    <!--결제 정보-->
    <h3 class="mt-4">Payment Detail</h3>
    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
    <table class="table">
        <tr>
            <th class="col-2">Buyer</th>
            <td class="col-10" th:text="${payment.buyerName}"></td>
        </tr>
        <tr>
            <th>Method</th>
            <td th:text="${payment.payMethod}"></td>
        </tr>
        <tr>
            <th>Card Company</th>
            <td th:text="${payment.cardName}"></td>
        </tr>
    </table>
    <!--결제 정보 end--------------------->
    <!--카드 영수증-->
    <h3 class="mt-4">Receipt</h3>
    <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
    <div class="d-flex justify-content-between align-items-center pt-3" style="background-color: #FFFAF5; height: 80px;">
        <span class="ms-3">You can check a payment card receipt about the order.</span>
        <a class="receiptUrl btn text-white me-3" href="javascript:void(0)" th:data-receipt="${payment.receiptUrl}" style="background-color: #B68C68;">카드 영수증</a>

    </div>
    <!--button group-->
    <div class="d-flex justify-content-end mt-4 mb-5 " >
        <button class="btn text-white" th:onclick="location.href=[[@{'/order/admin/list.do'}]]" style="background-color: #B68C68;">Order List</button>
    </div>
   <script th:inline="javascript">
       let receiptUrl = document.querySelectorAll(".receiptUrl");
       receiptUrl.forEach(url=>{
           url.addEventListener("click",()=>{
               window.open(url.dataset.receipt, "cancelReceipt", "width=450, height=600, resizable=no")
           })
       })
   </script>


</div>
</html>