<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Order Admin</title>
</head>
<div layout:fragment="content">
<form action="list.do" method="get" id="orderSearchForm" name="orderSearchForm">
  <div>
    <label class="d-block">Search Keyword :
      <select name="searchDiv" id="searchDiv">
        <option value="" selected disabled>Select</option>
        <option value="order_id">Order ID</option>
        <option value="user_name">Order Name</option>
      </select>
      <input type="text" id="searchWord" name="searchWord">
    </label>
    <label class="d-block">Search Date :
      <select name="dateType" id="dateType">
        <option selected disabled>Select</option>
        <option value="reg_date">Order Date</option>
      </select>
      <input type="date" id="startDate" name="startDate"> ~
      <input type="date" id="endDate" name="endDate">
    </label>
    <div class="d-flex">
      <span>State :</span>
      <label><input type="checkbox" name="oDet" id="o0" value="o0" > Payment Unconfirmed </label>
      <label><input type="checkbox" name="oDet" id="o1" value="o1" > Payment Confirmed </label>
      <label><input type="checkbox" name="oDet" id="o2" value="o2" > Order Completed </label>
      <label><input type="checkbox" name="oDet" id="o3" value="o3" > Purchase Confirmed </label>
      <label><input type="checkbox" name="oDet" id="o5" value="o5" > Order Cancel Request </label>
      <label><input type="checkbox" name="oDet" id="o4" value="o4" > Order Canceled </label>
    </div>
  </div>
  <button type="submit" class="btn btn-outline-secondary">Search</button>
  <button name="reset" class="btn btn-outline-primary" type="reset">Reset</button>
</form>
  <h4 class="mt-3">Order List <span th:if="${orderList != null && !orderList.isEmpty() }" th:text="${oCount}+'개'"></span></h4>
 <form action="/order/admin/modify.do" method="post" name="changeStateForm">
   <div class="d-flex justify-content-start">
     <button class="btn btn-outline-dark ms-3" type="button" onclick="changeState('o0')">Payment Unconfirmed</button>
     <button class="btn btn-outline-dark mx-3" type="button" onclick="changeState('o1')">Payment Confirmed</button>
     <button class="btn btn-outline-dark mx-3" type="button" onclick="changeState('o2')">Order Completed</button>
     <button class="btn btn-outline-dark mx-3" type="button" onclick="changeState('o3')">Purchase Confirmed</button>
     <button class="btn btn-outline-dark mx-3" type="button" onclick="changeState('o4')">Order Cancel Request</button>
     <button class="btn btn-outline-dark mx-3" type="button" onclick="changeState('o5')">Order Canceled</button>
   </div>
  <table class="table table-striped" id="orderList">
    <thead>
    <tr>
      <th scope="col">No.</th>
      <th scope="col"><input type="checkbox" class="allChecked"></th>
      <th scope="col">Name</th>
      <th scope="col">Order ID</th>
      <th scope="col">Subtotal</th>
      <th scope="col">Order Date</th>
      <th scope="col">State</th>
      <th scope="col">Updated State</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:if="${oCount >= 0}" th:each="order,stat : ${orderList}">
      <tr class="hrefRow" th:data-order="${order.orderId}" th:id="${order.orderId}+'tr'">
        <td th:text="|${stat.count}|"></td>
        <td><input type="checkbox" class="orderChecked" name="checkboxes" th:value="${order.orderId}"></td>
        <td th:text="${order.userName}"></td>
        <td>
          <a th:href="@{'/order/admin/{orderId}/detail.do'(orderId=${order.orderId})}"><span th:text="${order.orderId}"></span></a>
          <input type="hidden" name="orderIdHidden" id="orderIdHidden" th:value="${order.orderId}">
        </td>
        <td th:text="${order.totalPrice}"></td>
        <td th:text="${#calendars.format(order.regDate, 'yyyy-MM-dd')}"></td>
        <td th:text="${oCodeList[order.ODet.substring(1)].detName}"></td>
        <td>
          <input type="hidden" name="oDetHidden" th:value="${order.ODet}" th:id="'hidden'+${order.orderId}">
          <span th:class="oDetName" id="oDetName" th:text="${oCodeList[order.ODet.substring(1)].detName}"></span>
        </td>
      </tr>
    </th:block>
    </tbody>
    </table>
  <th:block th:unless="${oCount >= 0}"><div>The Order List does not exist.</div></th:block>
   <div class="d-flex justify-content-end">
       <button type="submit" id="submitBtn" class="btn btn-outline-primary mx-3 ">Change State</button>
   </div>
 </form>
  <!--pagination-->
  <nav class="d-flex justify-content-center" aria-label="Page navigation ">
    <ul class="pagination">
      <li class="page-item mx-3">
        <a class="page-link" th:href="@{${paging.queryString}(page=${paging.prevPage})}" th:classappend="${(paging.page==1)?'disabled':''}">Previous</a>
      </li>
      <li class="page-item mx-3">
        <a class="page-link" th:href="@{${paging.queryString}(page=${paging.nextPage})}" th:classappend="${(!(paging.next))?'disabled':''}">Next</a>
      </li>
    </ul>
  </nav>
  <!--pagination end--------------->
  <script th:inline="javascript">
    const forms = document.forms.orderSearchForm;
    console.log(forms);
    forms.searchDiv.onchange = (qualifiedName, value)=>{
      console.log(forms.searchDiv.value);
      forms.searchWord.setAttribute("required", value);
    }
    forms.dateType.onchange = (qualifiedName, value)=>{
      forms.startDate.setAttribute("required", value);
      forms.endDate.setAttribute("required", value);
    }
    forms.reset.onclick=()=>{
      forms.searchWord.removeAttribute("required");
      forms.startDate.removeAttribute("required");
      forms.endDate.removeAttribute("required");
    }

    const allChecked = document.querySelector(".allChecked");
    const orderCheck = document.querySelector(".orderChecked");
    const orderCheckList = document.querySelectorAll(".orderChecked");
    allChecked.onclick = ()=>{
      if(allChecked.checked){
        for(let i=0; i<orderCheckList.length; i++){
          orderCheckList[i].checked = true;
        }
      }else{
        for(let j=0; j<orderCheckList.length; j++){
          orderCheckList[j].checked = false;
        }
      }
    }

    function changeState(state) {
      const checkedBoxes = document.getElementById("orderList").querySelector("tbody")
              .querySelectorAll("input[type=checkbox]:checked");
      checkedBoxes.forEach(checkedBox => {
        const row = document.getElementById(checkedBox.value+"tr");
        const hidden = document.getElementById("hidden"+checkedBox.value);
        hidden.setAttribute("value", state);
        [[${oCodeList}]].forEach(oDet=>{
          if(oDet.detCode === state) {
            row.querySelector(".oDetName").innerText = oDet.detName;
          }
        })
        // const orderIdHidden = document.getElementById("orderIdHidden");
        // orderIdHidden.setAttribute("value",checkedBox.value);
      })
    }


  </script>
</div>
</html>