<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Exchange Detail</title>
</head>
<div layout:fragment="content">
    <h3>Order Detail</h3>
    <th:block th:if="${order != null}">
        <table class="table">
            <tr>
                <th class="col-2">Order Date</th>
                <td class="col-4" th:text="${#dates.format(order.regDate, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
            <tr>
                <th class="col-2">Order ID</th>
                <td class="col-4" id="orderId" th:text="${order.orderId}"></td>
            </tr>
            <tr>
                <th class="col-2">SubTotal</th>
                <td class="col-4" th:text="${order.totalPrice}"></td>

            </tr>
            <tr>
                <th class="col-2">Name</th>
                <td class="col-4" th:text="${order.userName}"></td>
            </tr>
            <tr>
                <th class="col-2">Phone Number</th>
                <td class="col-4" th:text="${order.userPhone}"></td>
            </tr>
            <tr>
                <th class="col-2">Email</th>
                <td class="col-4" th:text="${order.userEmail}"></td>
            </tr>
            <tr>
                <th class="col-2">Ordered Product</th>
                <td class="col-4">
                    <th:block th:if="${!order.orderDetailList.isEmpty() && order.orderDetailList != null}">
                        <span th:text="${order.orderDetailList[0].optionName + ' 등'}"></span>
                        <span th:text="${order.orderDetailList.size() + '건'}"></span>
                    </th:block>
                </td>
            </tr>
        </table>
    </th:block>

    <h3>Exchange Request Info</h3>
    <table class="table">
        <thead>
        <tr class="text-center">
            <th colspan="2">Exchange Request Product</th>
            <th colspan="2">Receiver Info</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th class="col-2">Product</th>
            <td class="col-4" th:text="${orderDetail.optionName}"></td>
            <th class="col-2">Receiver</th>
            <td class="4" th:text="${exchange.receiverName}"></td>
        </tr>
        <tr>
            <th class="col-2">Count</th>
            <td class="col-4" >
                <span th:text="${exchange.cnt}"></span>
            </td>
            <th class="col-2">Receiver Phone Number</th>
            <td class="col-4" th:text="${exchange.receiverPhone}"></td>
        </tr>
        <tr>
            <th class="col-2">Exchange Request Selection</th>
            <td class="col-4" th:text="${exchange.rfrDetDto.detName}"></td>
            <th class="col-2">Receiver Address</th>
            <td class="col-4">
                <div>(<span th:text="${exchange.postCode}"></span>) <span th:text="${exchange.address}"></span></div>
                <div th:text="${exchange.addressDetail}"></div>
            </td>
        </tr>
        <tr>
            <th class="col-2">Exchange Reason</th>
            <td class="col-4" th:text="${exchange.reason}"></td>
            <th class="col-2">Elevator</th>
            <td class="col-4">
                <div th:if="${exchange.elevator == 1}">O</div>
                <div th:unless="${exchange.elevator == 1}">X</div>
            </td>
        </tr>
        <tr>
            <th class="col-2">Upload Image</th>
            <td class="col-4">
                <th:block th:if="${!exchange.imageList.isEmpty() && exchange.imageList != null}" th:each="img:${exchange.imageList}">
                    <img th:src="@{'/img/exchange/{imgPath}'(imgPath = ${img.imgPath})}" alt="" style="width: 200px; height: 200px; object-fit: cover;">
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>


    <h3>Update Exchange State</h3>
    <table class="table">
        <tbody>
            <tr>
                <th class="col-1">Option Product Code</th>
                <td class="col-11" th:text="${orderDetail.optionCode}"></td>
            </tr>
            <tr>
                <th class="col-1">Order Detail Count</th>
                <td class="col-11" th:text="${orderDetail.cnt}"></td>
            </tr>
            <tr>
                <th class="col-1">Exchange Request Count</th>
                <td class="col-11" th:text="${exchange.cnt}"></td>
            </tr>
            <tr>
                <th class="col-1">Available Stock</th>
                <td class="col-11" >
                    <span th:text="${optionProduct.stock}"></span>
                    <span th:if="${!exchange.exDet.equals('ex7')}" th:text="${'(After Exchange: ' + (optionProduct.stock - exchange.cnt)} + ')'"></span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex">
        <div>Exchange State: </div>
        <div id="detName" th:text="${exchange.exDetDto.detName}"></div>
    </div>
    <form name="modify" th:action="@{'/exchange/admin/{exchangeId}/modify.do' (exchangeId=${exchange.exchangeId})}" method="POST" onsubmit="return exchangeSubmitFilter()">
        <div>
            <label class="form-label" for="exDet">Update State</label>
            <select class="form-select-sm" name="exDet" id="exDet" required th:disabled="${exchange.exDet.equals('ex1')}">
                <option value="" selected disabled>Choose State to update.</option>
                <th:block th:each="exCode:${exCodeList}">
                    <option class="exDet" th:value="${exCode.detCode}" th:text="${exCode.detName}" th:data-exNum="${exCode.detCode.substring(2)}"></option>
                </th:block>
            </select>
            <div>
                <button class="btn btn-outline-secondary resetExDet" type="button" onclick="resetExDet()">Previous State</button>
                <button class="btn btn-outline-danger reStartExDet d-none" id="reStartExDet" type="button" >Re-exchange</button>
                <button id="stockSubBtn" class="btn btn-outline-primary d-none" type="button" onclick="modifyStock()">Update Stock</button>
            </div>
        </div>
        <div>
            <label class="form-label d-block" for="reply">Reply Exchange Request</label>
            <div th:text="'이전 답변: '+${exchange.reply}"></div>
            <textarea class="form-text form-control-sm" required name="reply" id="reply" cols="70" rows="10" style="resize: none"></textarea>
        </div>
        <button class="btn btn-outline-primary exchangeSubmit" type="submit" th:disabled="${exchange.exDet.equals('ex1') }">Register</button>
    </form>
    <script th:inline="javascript">
        /* exDet 지난 상태 막기 */
        let exName = document.querySelectorAll(".exDet");
        let exDet = document.querySelector("#exDet");
        let currentExDet = [[${exchange.exDet}]]
        console.log("current: ",currentExDet)
        exName.forEach(element =>{
            console.log(element.dataset.exnum)
            console.log(currentExDet.slice(2))
            if(element.dataset.exnum < currentExDet.slice(2)){
                element.disabled = true;
            }

        })

        /* ex4 일 때, 페이지 들어오면 버튼 등장 */
        if (currentExDet.toString() === "ex4"){
            let stockSubBtn = document.getElementById("stockSubBtn");
            stockSubBtn.classList.remove("d-none");
        }

        /* exDet disabled 풀기 */
        function resetExDet(){
            let exDet = [[${exchange.exDet}]];
            console.log("exDet: ", exDet)
            let exDetOpt = document.querySelectorAll(".exDet");
            if (exDet.toString() === "ex3" || exDet.toString() === "ex4"){ // 교환 수거 중 상태일 시
                exDetOpt.forEach(element=>{
                    if (element.value === "ex0" || element.value === "ex1"){ // 교환 요청과 교환 요청 취소가 아닌 상태는
                    }else{
                        element.disabled = false  // 이용할 수 있다.
                    }
                })
                alert("You can return the state to the previous state.")
            }else if(exDet.toString() === "ex5" || exDet.toString() === "ex6"){
                exDetOpt.forEach(element=>{
                    if (element.value === "ex5" || element.value === "ex6" || element.value === "ex8"){ // 교환 배송 중/배송 완료/거절 상태는
                        element.disabled = false  // 이용할 수 있다.
                    }else{
                    }
                })
                alert("The product has been shipped for exchange, You can only return to the previous stage after the product is picked up.")
            }else{
                alert("If the state is 'Exchange completed' or 'rejected', then proceed from the 'pick-up' again.")
            }
        }

        /* ex2 교환 요청 확인 상태부터 다시 시작하기 */
        let reStartExDet = document.getElementById("reStartExDet");
        if(currentExDet.toString() === "ex6" || currentExDet.toString() === "ex7" || currentExDet.toString() === "ex8"){
            reStartExDet.classList.remove("d-none");
        }
        reStartExDet.onclick=async ()=>{
            let isBack = confirm("Do you want to proceed re-exchange? \nIf you re-exchange, the state will be updated to 'Exchange Request Checked'.");
            if (isBack){
                let msg = prompt("Please post reply for re-exchange",
                    "고객님, 죄송합니다. 교환된 상품에도 하자가 발견되었다는 문의 확인했습니다. 수거를 위한 배송 기사님을 빠른 시일 내에 배정하여 " +
                    "상품 수거 후 판별하여 새로운 상품을 보내드리도록 하겠습니다. 감사합니다.")
                if (msg != null){
                    let url = "/exchange/admin/"+[[${exchange.exchangeId}]]+"/modify.do";
                    let exchangeForm = new FormData();
                    exchangeForm.set("exDet", "ex3");
                    exchangeForm.set("reply", msg)
                    const resp = await fetch(url, {method: "POST", body: exchangeForm})
                    if(resp.status === 200){
                        window.location.reload();

                        alert("Updated the state for re-exchange.")
                    }else{
                        alert("Failed to return the state.")
                    }
                }
            }

        }

        /* exDet ex4 교환 수거 완료 일 때만 재고 수정 버튼이 등장 */
        // exDet.addEventListener("change",()=>{
        //     let display = document.getElementById("stockSubBtn");
        //     if(exDet.value.includes("4")){
        //         console.log("remove")
        //         display.classList.remove("d-none");
        //     }else{
        //         console.log("add")
        //         display.classList.add("d-none");
        //     }
        // })

        /* 현재 상태가 ex4 일 때만 재고 수정 버튼이 등장 */
        if (currentExDet.toString() === "ex4"){
            let stockSubBtn = document.getElementById("stockSubBtn");
            stockSubBtn.classList.remove("d-none");
        }

        /* 재고 변경 AJAX */
        async function modifyStock(){
            let exchangeId = [[${exchange.exchangeId}]]
            console.log("exchangeId: ", exchangeId)
            let optionCode = [[${orderDetail.optionCode}]]
            let url = "/exchange/admin/"+exchangeId+"/stockModify.do"
            let currentStock = [[${optionProduct.stock}]]
            let modifiedStock = [[${optionProduct.stock - exchange.cnt}]]
            console.log("currentStock:"+currentStock)
            console.log("modifiedStock: ", modifiedStock)
            let stockFormData = new FormData();
            stockFormData.set("optionCode", optionCode.toString())
            let isOk = confirm("해당 옵션 상품의 재고를 수정하시겠습니까? " +
                "\n재고 변경 시 자동으로 상태가 '교환 배송 중(다음 단계)'으로 변경됩니다." +
                "\n현재 재고량: "+currentStock+", 수정 시 재고량: "+modifiedStock)
            if(isOk){
                const resp = await fetch(url, {method: "post", body: stockFormData})
                console.log("resp: ", resp)
                if(resp.status === 200){
                    const json = await resp.json();
                    console.log("json: ", json)
                    if(json > 0){
                        alert("성공적으로 재고가 변경되었습니다.")
                        let url = "/exchange/admin/"+exchangeId+"/modify.do"
                        let modifyForm = new FormData();
                        modifyForm.set("exchangeId", exchangeId.toString());
                        modifyForm.set("exDet", "ex5");
                        modifyForm.set("reply", "교환을 위한 상품이 배송을 시작하였습니다.");
                        const modResp = await fetch(url, {method: "POST", body: modifyForm, redirect: "manual"})
                        console.log(modResp)
                        window.location.reload();
                    }else if(json < 0){
                        alert("현재 재고가 교환 수량보다 적어 재고 수정에 실패했습니다.")
                    }else{
                        alert("데이터를 불러오지 못했습니다.")
                    }
                }else{
                    alert(`서버 에러 ${resp.status}`)
                }
            }
        }

        /* 상태 변화 제출 시 필터링 */
        function exchangeSubmitFilter(){
            console.log(exDet.value)
            let exDetNum = Number(currentExDet.slice(2));
            console.log(exDetNum)
            if (exDetNum < 5 && exDet.value === "ex7"){
                alert("아직 교환 상품이 출고, 배송되지 않아 교환 완료 상태로 변경할 수 없습니다.")
                return false;
            }else if((exDetNum >= 5 && exDetNum < 7) && exDet.value === "ex8"){
                alert("교환 상품이 출고, 배송 중이기 때문에 교환 거절로 변경할 수 없습니다.")
                return false;
            }else if(exDetNum < 5 && (exDet.value === "ex5" || exDet.value === "ex6")){
                alert("교환 상품이 출고, 배송 되지 않아 교환 상태를 배송 상태로 변경할 수 없습니다.")
                return false;
            }else if(exDetNum === 7 && exDet.value === "ex8"){
                alert("완료된 교환을 거절할 수는 없습니다.")
                return false;
            }
        }


    </script>

</div>
</html>