<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/adminLayout.html}">
<head>
    <meta charset="UTF-8">
    <title>Exchange Request List-Admin</title>
</head>
<div layout:fragment="content">
    <h2>Exchange Request List</h2>
    <form action="/exchange/admin/list.do" method="get" id="searchForm" name="searchForm">
        <div>
            <label class="d-block">Search Keyword :
                <select name="searchDiv" id="searchDiv">
                    <option value="" selected disabled>Search Selection</option>
                    <option value="order_id">Order ID</option>
                    <option value="uname">Name</option>
                    <option value="phone">Phone Number</option>
                </select>
                <input type="text" id="searchWord" name="searchWord">
            </label>
            <label class="d-block">Date Selection :
                <select name="dateType" id="dateType">
                    <option selected disabled>Choose</option>
                    <option value="reg_date">Request Date</option>
                    <option value="mod_date">State Updated Date</option>
                </select>
                <input type="date" id="startDate" name="startDate"> ~
                <input type="date" id="endDate" name="endDate">
            </label>
            <div class="d-flex">
                <span>State :</span>
                <label><input type="checkbox" name="exDet" id="ex0" value="ex0" > Request Exchange </label>
                <label><input type="checkbox" name="exDet" id="ex1" value="ex1" > Cancel Exchange Request</label>
                <label><input type="checkbox" name="exDet" id="ex2" value="ex2" > Exchange Request Confirmed </label>
                <label><input type="checkbox" name="exDet" id="ex3" value="ex3" > Picking up</label>
                <label><input type="checkbox" name="exDet" id="ex4" value="ex4" > Completed pick-up </label>
                <label><input type="checkbox" name="exDet" id="ex5" value="ex5" > Shipping Exchange</label>
                <label><input type="checkbox" name="exDet" id="ex6" value="ex6" > Completed Delivery</label>
                <label><input type="checkbox" name="exDet" id="ex7" value="ex7" > Completed Exchange </label>
                <label><input type="checkbox" name="exDet" id="ex8" value="ex8" > Reject Exchange</label>
            </div>
        </div>
        <button type="submit" class="btn btn-outline-secondary">Search</button>
        <button name="reset" type="reset" class="btn btn-outline-primary">Reset</button>
    </form>
    <h3>교환 신청 <span th:text="${allCount}"></span></h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>UserName</th>
            <th>Order ID</th>
            <th>Order Detail ID</th>
            <th>Option Product ID</th>
            <th>Order Product Quantity</th>
            <th>Exchange Request Quantity</th>
            <th>State</th>
            <th>Exchange Request Date</th>
            <th>State Updated Date</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:if="${exchangeCount >= 0}" th:each="exchange : ${exchangeList}">
            <tr class="hrefRow" th:data-exchange="${exchange.exchangeId}" th:data-exDet="${exchange.exDet}">
                <td th:text="${exchange.uname}"></td>
                <td th:text="${exchange.orderId}"></td>
                <td th:text="${exchange.orderDetailId}"></td>
                <td th:text="${exchange.orderDetailDto.optionCode}"></td>
                <td th:text="${exchange.orderDetailDto.cnt}"></td>
                <td th:text="${exchange.cnt}"></td>
                <td th:text="${exchange.exDetDto.detName}"></td>
                <td th:text="${#calendars.format(exchange.regDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${#calendars.format(exchange.modDate, 'yyyy-MM-dd')}"></td>
            </tr>
        </th:block>
        </tbody>
    </table>
    <th:block th:unless="${exchangeCount >= 0}"><div>There is no exchange record.</div></th:block>

    <!--pagination-->
    <div th:include="/pagination.html"></div>
    <!--pagination end--------------->

    <script th:inline="javascript">
        let hrefRows = document.querySelectorAll(".hrefRow");
        hrefRows.forEach((row)=>{
            row.addEventListener('click',()=>{
                console.log(row)
                let targetHref = "http://"+ document.location.host + "/exchange/admin/" + row.dataset.exchange +"/detail.do";
                console.log(targetHref)
                let exchangeId = row.dataset.exchange;
                let exDet = row.dataset.exdet;
                if(exDet === "ex0" ){
                    let isOk = confirm("The state will be changed to 'Exchange Request Confirmed'.Confirm?");
                    if(isOk){
                        modifyRf(exchangeId);
                        setTimeout(()=>{document.location.href = targetHref}, 200);
                    }
                }else{
                    document.location.href = targetHref;
                }
            })
        })

        /* 비동기 rf 상태 수정 */
        async function modifyRf(exchangeId){
            let url = "http://"+document.location.host+"/exchange/admin/"+exchangeId+"/modify.do"
            let modifyForm = new FormData();
            modifyForm.set("exchangeId", exchangeId);
            modifyForm.set("exDet", "ex2");
            const resp = await fetch(url, {method: "POST", body: modifyForm, redirect: "manual"})
            console.log(resp)
        }

        const forms = document.forms.searchForm;
        console.log(forms);
        forms.searchDiv.onchange = (qualifiedName, value)=>{
            console.log(forms.searchDiv.value);
            forms.searchWord.setAttribute("required", value);
        }
        forms.dateType.onchange = (qualifiedName, value)=>{
            forms.startDate.setAttribute("required", value);
            forms.endDate.setAttribute("required", value);
        }
        forms.reset.onclick=()=>{
            forms.searchWord.removeAttribute("required");
            forms.startDate.removeAttribute("required");
            forms.endDate.removeAttribute("required");
        }

    </script>
</div>
</html>
