<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
  <meta charset="UTF-8">
  <title>My Delivery Addresses</title>
</head>
<div layout:fragment="myPageContent">
<h2 class="my-4">My Delivery Addresses</h2>
  <button type="button" class="input-group-text"  th:onclick="|location.href='@{/address/user_yes/mypage/register.do }'|"  style="background-color: #FFFAF5; color: #B68C68" th:text="'새 배송지 등록'"></button>
  <hr style="margin-bottom: 1; background : #b68c68; height: 5px">
<table class="table">
  <thead>
    <th scope="col">Address Name</th>
    <th scope="col">Postcode</th>
    <th scope="col">Address</th>
    <th scope="col">Address Detail</th>
    <th scope="col"  class="text-center">Default</th>
    <th scope="col"  class="text-center">Elevator</th>
  </thead>
  <tbody>
    <tr th:each="a:${alist}" style="cursor: pointer">
      <td th:text="${a.aname}"> </td>
      <td th:text="${a.postCode}"> </td>
      <td th:text="${a.address}"> </td>
      <td th:text="${a.addressDetail}"> </td>
<!--      <td th:text="${a.home}"></td>-->
      <td class="text-center" th:if="${a.home == true}">O</td>
      <td class="text-center" th:if="${a.home == false}">X</td>
<!--      <td th:text="${a.elevator}"> </td>-->
      <td class="text-center" th:if="${a.elevator == true}">O</td>
      <td class="text-center" th:if="${a.elevator == false}">X</td>
      <td><button type="button" class="input-group-text" th:onclick="|location.href='@{/address/user_yes/mypage/modify.do (addressId=${a.addressId})}'|" style="background-color: #FFFAF5; color: #B68C68" >수정하기</button></td>
      <input type="hidden" name="addressId" th:value="${a.addressId}">
      <input type="hidden" name="userId" th:value="${a.userId}">
      <input type="hidden" name="receiverName" th:value="${a.receiverName}">
      <input type="hidden" name="receiverPhone" th:value="${a.receiverPhone}">
    </tr>


  </tbody>
</table>



</div>
</html>