<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<div layout:fragment="content">
<div >
    <div class="container mt-3">
        <div class="row">
            <div class="col-sm-2">
                <div class="rounded-2" style="border: solid 1px #B68C68; height: 700px">
                    <ul style="list-style: none; margin: 0 auto;" class="mt-3">
                        <li class="py-2 mt-2"><h5 class="fw-semibold"><a class="fw-normal text-black " style="text-decoration: none" href="/mypage/user_yes/main.do">마이페이지</a></h5></li>

                        <li class="py-2 mt-2"><h5 class="fw-semibold">Order/Delivery</h5></li>
                        <li class="py-2"><a class="fw-normal text-black " style="text-decoration: none"
                                            href="/order/user_yes/mypage/list.do">My Order</a></li>

                        <li class="py-2 mt-2"><h5 class="fw-semibold">Exchange/Refund</h5></li>
                        <li class="py-2"><a class="fw-normal text-black " style="text-decoration: none"
                                            href="/exchange/user_yes/mypage/list.do">Exchange</a></li>
                        <li class="py-2"><a class="fw-normal text-black" style="text-decoration: none"
                                            href="/refund/user_yes/mypage/list.do">Refund</a></li>

                        <li class="py-2 mt-2"><h5 class="fw-semibold">Product Inquiry</h5></li>
                        <li class="py-2"><a class="fw-normal text-black " style="text-decoration: none"
                                            href="/product_inquiry/user_yes/list.do">Product Q&A</a></li>

                        <li class="py-2 mt-2"><h5 class="fw-semibold ">My info</h5></li>
                        <li class="py-2"><a class="fw-normal text-black " style="text-decoration: none"
                                            href="/user/user_yes/double_check.do">Edit My Ino</a></li>
                        <li class="py-2"><a class="fw-normal text-black " style="text-decoration: none"
                                            href="/address/user_yes/mypage/list.do">Delivery Address</a></li>
                        <li class="py-2"><a class="fw-normal text-black " style="text-decoration: none"
                                            href="/review/user_yes/mypage/mypageList.do">Reviews</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-10">
                <th:block layout:fragment="myPageContent"></th:block>
            </div>
        </div>
    </div>
</div>
</div>
</html>