<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/mypageLayout}">
<head>
    <meta charset="UTF-8">
    <title>My page</title>
</head>
<div layout:fragment="myPageContent">
    <h1>My page</h1>
    <h3 class="mt-4">Order progress</h3>
    <hr style="margin-top: 0; background : #b68c68; height: 5px">
    <div class="d-flex" style="justify-content: space-evenly">
        <th:block th:each="det:${myPageDetList}">
            <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
                <span th:text="${det.detName}"></span>
                <div style="background-color: #a6a6a6; margin: 10px 0; border-radius: 50%; width: 70px; height: 70px; display: flex; justify-content: center; align-items: center;">
                    <div style="font-size: x-large; color: #ffffff; font-weight: bold"
                         th:text="${count.get(det.detCode)}"></div>
                </div>
            </div>
        </th:block>
    </div>
    <div class="d-flex mt-4" style="align-items: center; justify-content: space-between">
        <div class="d-flex" style="align-items: center">
            <h3>Recent Order</h3>
            <span style="color: #949494; margin-left: 30px">Orders in recent 30 days.</span>
        </div>
        <span><a href="/order/user_yes/mypage/list.do" style="text-decoration: none; color: #000">+ More</a></span>
    </div>
    <hr style="margin-top: 0; background : #B68C68; height: 5px">
    <table class="table">
        <thead>
        <th scope="col">Order ID</th>
        <th scope="col">Order Date</th>
        <th scope="col">Subtotal</th>
        </thead>
        <tbody>
        <tr th:each="order:${orderList}">
            <td th:text="${order.orderId}"></td>
            <td th:text="${#dates.format(order.regDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${order.totalPrice} + 'Won'"></td>
        </tr>
        </tbody>
    </table>
    <div class="d-flex" style="justify-content: center">
        <th:block th:if="${orderList == null or orderList.isEmpty()}">
            <p th:text="'There is no order record.'"></p>
        </th:block>
    </div>
    <div class="d-flex mt-4" style="justify-content: space-between; align-items: center">
        <h3>Shopping Cart</h3>
        <span><a href="/cart/user_yes/mypage/list.do" style="text-decoration: none; color: #000">+ More</a></span>
    </div>
    <hr style="margin-top: 0; background : #B68C68; height: 5px">
    <div class="d-flex" style="justify-content: start;">
        <th:block th:each="cart:${cartList}">
            <div style="width: 250px; height: 250px; margin: 0 15px">
                <img style="width: 240px; height: 240px;"
                     th:src="@{'/img/product/{file}'(file=${cart.product.imageList[0].imgPath})}">
                <div>
                    <p style="margin: 0;" th:text="${cart.optionProduct.opname}"></p>
                    <p style="margin: 0;" th:text="${cart.optionProduct.price} + '원'"></p>
                </div>
            </div>
        </th:block>
    </div>
    <div class="d-flex" style="justify-content: center;">
        <th:block th:if="${cartList == null or cartList.isEmpty()}">
            <p th:text="'There is nothing in a shopping cart.'"></p>
        </th:block>
    </div>
</div>
</html>