<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Order Completed</title>
</head>
<div layout:fragment="content">
    <div class="container">
        <h1 class="text-center mt-2">Order Completed!</h1>
        <h3 class="text-center mt-2">Thank you for your purchase at our GAGOODA Shopping Mall.</h3>

        <h3 class="mt-4">Products</h3>
        <hr class="mb-0" style="margin-top: 0; background : #b68c68; height: 5px">
        <table class="table">
            <thead>
            <th scope="col" th:text="'전체 '+${itemCount}"></th>
            <th scope="col">Product Detail</th>
            <th scope="col" class="text-center">Quantity</th>
            <th scope="col" class="text-center">Price</th>
            </thead>
            <tbody>
            <tr th:each="orderDetail, stat :${orderDetailList}">
                <td clss="text-center" th:text="|${stat.count}|"></td>
                <td>
                    <img th:src="@{'/img/product/{file}'(file=${orderDetail.imageList[0].imgPath})}"
                         style="width: 50px; height:50px; object-fit: cover">
                    <input type="text" th:value="${orderDetail.optionName}" id="optionName" name="optionName" readonly>
                </td>
                <td class="text-center" th:text="${orderDetail.cnt}"></td>
                <td class="text-center" th:text="${orderDetail.totalPrice}"></td>
            </tr>
            </tbody>
        </table>
        <div class="float-end">
            <div>Subtotal: <strong id="totalPrice" class="totalPrice" style="color: #B68C68" th:text="${totalPrice}"></strong> Won </div>
        </div>
        <button class="btn text-white" style="background-color: #B68C68;" th:onclick="location.href=[[@{'/order/user_yes/mypage/list.do'}]]">Order List</button>

    </div>

</div>
</html>