<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<form th:onsubmit="event.preventDefault(); modifyReply(this);"
      name="replyModifyForm" enctype="multipart/form-data" action="/reply/modify.do" method="post">
  <input type="hidden" name="commId" th:value="${reply.commId}">
  <input type="hidden" name="fkReplyId" th:value="${reply.fkReplyId}">
  <input type="hidden" name="replyId" th:value="${reply.replyId}">
  <input type="hidden" name="userId" th:value="${reply.userId}">
  <div>
        <p class="fw-bold" th:text="${reply.user.nickname}" style="color: #5c636a;">
        </p>
  </div>
  <div class="col-12">
    <input type="text" class="form-control" name="content" id="exampleFormControlInput1" th:value="${reply.content}" placeholder="Praise and encouragement are a great help to the writer:)">
  </div>
  <div class="d-flex justify-content-end mt-2">
    <button type="reset" class="btn border" style="background-color: #FFFAF5; color: #B68C68;">Reset</button>
    <button type="submit" class="btn border ms-2" style="background-color: #FFFAF5; color: #B68C68;">Edit</button>
  </div>
</form>
</html>